# temporary files
*~
*.[oa]
*.swp

# setup and configuration
bblinux-chroot.sh
bblinux-config.sh
bblinux-pkglst.txt
bblinux-loader.txt
bblinux-setenv.sh

# bblinux build state
build/bld/[^.]*
build/log/[^.]*
build/run/[^.]*
build/var/[^.]*

# downloads
dload/[^.]*

# root fs making
mnt/[^.]*

# root fs staging area
sysroot/[^.]*

# build products
target/image/[^.]*
target/kpkgs/[^.]*
target/kroot/[^.]*
target/loader/[^.]*
target/pkgbin/[^.]*

# board-specific constructions
cdrom/
sdcard/

# cross-tool chains
x-tools/[^.]*

