# vim: syntax=cfg

TTYLINUX_NAME=
TTYLINUX_VERSION=

#
# Platform, cross-tool, and CFLAGS.  Be carefull with changes.
#
TTYLINUX_PLATFORM=wrtu54g_tm
TTYLINUX_CONFIG=defconfig
TTYLINUX_XBT_DIR="../cross-tools-0.9.32-2.6.36.4"
TTYLINUX_XBT="mipsel-generic-linux-uclibc"
TTYLINUX_CFLAGS="-march=4kc -mtune=4kc -Os"

#
# Build process options and distribution attributes.
#
TTYLINUX_RAMDISK_SIZE=5
TTYLINUX_STRIP_BINS=y
# TTYLINUX_USER_KERNEL is not set
TTYLINUX_SITE_SCRIPTS=y

#
# Bootloader Set-up
#
# TTYLINUX_ISOLINUX is not set
# TTYLINUX_ISOLINUX_VERSION is not set
# TTYLINUX_ISOLINUX_PATCH is not set
# TTYLINUX_ISOLINUX_TARGET is not set
TTYLINUX_UBOOT=y
TTYLINUX_UBOOT_VERSION=2010.12
# TTYLINUX_UBOOT_PATCH is not set
TTYLINUX_UBOOT_TARGET=mkimage

#
# Packages Options
#
TTYLINUX_PACKAGE_BUSYBOX_HAS_LOSETUP=y
TTYLINUX_PACKAGE_E2FSPROGS_HAS_BLKID=y
# TTYLINUX_PACKAGE_NCURSES_HAS_LIBS is not set

#
# Packages - Order is important; these will be built in the order listed below.
#
declare -i i=0
# ------------------------------------------------------------ base file system
TTYLINUX_PACKAGE[i++]="ttylinux-basefs-1.0"
TTYLINUX_PACKAGE[i++]="ttylinux-devfs-1.0"
# ------------------------------------------------------------------- libraries
# TTYLINUX_PACKAGE[i++]="glibc-2.9"
# TTYLINUX_PACKAGE[i++]="glibc-2.16.0"
# TTYLINUX_PACKAGE[i++]="glibc-devel-2.16.0"
TTYLINUX_PACKAGE[i++]="uClibc-0.9.32"
TTYLINUX_PACKAGE[i++]="ncurses-5.9"
# TTYLINUX_PACKAGE[i++]="kmod-13"
# TTYLINUX_PACKAGE[i++]="readline-6.2"
# TTYLINUX_PACKAGE[i++]="alsa-lib-1.0.27"
# TTYLINUX_PACKAGE[i++]="gmp-5.0.5"    # for gcc-4.6.3
# TTYLINUX_PACKAGE[i++]="mpfr-3.1.1"   # for gcc-4.6.3
# TTYLINUX_PACKAGE[i++]="mpc-1.0.1"    # for gcc-4.6.3
# -------------------------------------------------------- programs & libraries
# TTYLINUX_PACKAGE[i++]="util-linux-2.23"
TTYLINUX_PACKAGE[i++]="bash-4.2"
TTYLINUX_PACKAGE[i++]="busybox-1.21.0"
TTYLINUX_PACKAGE[i++]="e2fsprogs-1.42.7"
# TTYLINUX_PACKAGE[i++]="iptables-1.4.18"
# TTYLINUX_PACKAGE[i++]="lilo-23.2"
# TTYLINUX_PACKAGE[i++]="ntfs-3g_ntfsprogs-2013.1.13"
TTYLINUX_PACKAGE[i++]="ttylinux-utils-1.5"
# TTYLINUX_PACKAGE[i++]="udev-182"
# TTYLINUX_PACKAGE[i++]="yaboot-1.3.13"
# ----------------------------------------------------------- development tools
# TTYLINUX_PACKAGE[i++]="binutils-2.23"
# TTYLINUX_PACKAGE[i++]="gcc-4.6.3"
# TTYLINUX_PACKAGE[i++]="make-3.82"
# -------------------------------------------------------------------- services
TTYLINUX_PACKAGE[i++]="dropbear-2013.58"
# TTYLINUX_PACKAGE[i++]="gpm-1.20.7"
# TTYLINUX_PACKAGE[i++]="ppp-2.4.5"
# TTYLINUX_PACKAGE[i++]="thttpd-2.25b"
# ---------------------------------------------------------------- applications
# TTYLINUX_PACKAGE[i++]="alsa-utils-1.0.27"
# TTYLINUX_PACKAGE[i++]="calc-2.12.4.4"
# TTYLINUX_PACKAGE[i++]="dtach-0.8"
# TTYLINUX_PACKAGE[i++]="dvtm-0.9"
# TTYLINUX_PACKAGE[i++]="haserl-0.9.29"
# TTYLINUX_PACKAGE[i++]="lua-5.2.2"
# TTYLINUX_PACKAGE[i++]="lynx-2.8.7"
# TTYLINUX_PACKAGE[i++]="nano-2.2.6"
TTYLINUX_PACKAGE[i++]="retawq-0.2.6c"

# end of file
