# vim: syntax=cfg

#
# Board Selection
#
BBLINUX_BOARD=keyasic_wifisd
BBLINUX_CONFIG=keyasic_wifisd-defconfig

#
# Cross-tool Chain
#
BBLINUX_XTOOL_FNAME="crosstool-ng-1.20.0"
BBLINUX_XTOOL_EXT=".tar.bz2"
BBLINUX_XTOOL_URL="http://crosstool-ng.org/download/crosstool-ng"
BBLINUX_XTOOL_CFG=crosstool-ng.config
BBLINUX_XTOOL_NAME=armv5tej-generic-linux-uclibcgnueabi

#
# Bootloader Set-up
#
BBLINUX_BOOTLOADER="uboot-2010.06-rc1"
BBLINUX_UBOOT_PATCH=""
BBLINUX_UBOOT_TARGET=""

#
# Target File System
#
BBLINUX_ROOTFS_INITRAMFS=y
# BBLINUX_ROOTFS_INITRD is not set
# BBLINUX_ROOTFS_TARBALL is not set
# BBLINUX_ROOTFS_SIZE_MB is not set
BBLINUX_ROOTFS_OVERLAY="fs-overlay.tbz"
BBLINUX_ROOTFS_BASE_NAME="initramfs3"
BBLINUX_ROOTFS_POST_OP="mkinitramfs.sh"

#
# Compile Flags
#
BBLINUX_CPU_ARCH=armv5
BBLINUX_LINUX_ARCH="arm"
BBLINUX_CFLAGS="-mcpu=arm926ej-s -mtune=arm926ej-s"

#
# Packages - Order is important; these will be built in the order listed below.
#
declare -i i=0
# ------------------------------------------------------------ base file system
BBLINUX_PACKAGE[i++]="bblinux-basefs-1.0"
BBLINUX_PACKAGE[i++]="bblinux-devfs-1.0"
# ------------------------------------------------------------------- libraries
BBLINUX_PACKAGE[i++]="uClibc-0.9.32"
BBLINUX_PACKAGE[i++]="ncurses-5.9"
# -------------------------------------------------------- programs & libraries
BBLINUX_PACKAGE[i++]="busybox-1.22.1"
# BBLINUX_PACKAGE[i++]="e2fsprogs-1.42.7"
# -------------------------------------------------------------------- services
BBLINUX_PACKAGE[i++]="dropbear-2014.63"
# ---------------------------------------------------------------- applications
#BBLINUX_PACKAGE[i++]="ncdu-1.10"
# BBLINUX_PACKAGE[i++]="dtach-0.8"
# BBLINUX_PACKAGE[i++]="lua-5.2.2"
# BBLINUX_PACKAGE[i++]="retawq-0.2.6c"

# end of file
